[Desktop Entry]
Version=1.0
Type=Application
Name=Xmonad w/ Xmobar
Comment=Window manager and status bar written in Haskell
Exec=/home/kelvin/dotfiles/xinit/init.sh
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
